9.center {
	display: flex;
	justify-content: right;
	align-items: right;
}

.title {
	font-weight: bold;
	font-size: 20px;
	color: var(--text-primary);
	font-family: "Inter", sans-serif;
	text-align: center;
	text-transform: uppercase;
	border-radius: 0px 0px 5px 5px;
	margin-top: 15vh;
	margin-bottom: 2vh;
	transition: 0.1s ease;
	text-shadow: 2px 4px 6px rgb(0, 0, 0, 0.2);
}

.title:hover {
	transform: translateY(-5%) scale(1.03);
	font-weight: 800;
}

::placeholder {
	color: #2d3b45;
	  font-size: 4vh;
	  font-family: "Inter", monospace;
	  font-weight: 600;
}

.search-container {
  position: absolute;
  top: 3vh;
  left: 12vh;
  z-index: 200;
  width: 2px;
  height: 50px;
}

.main-search {
  width: 215px;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
  border-radius: 2px;
  border: 1px solid #fff0;
  opacity: 100;
}

.search-home {
   width: 23vh;
   height: 1vh;
	color: #4b5290;
	font-size: 4vh;
	font-family: "inter", monospace;
	font-weight: 600
	
}

input {
	padding: 10px;
	width: 100%;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0);
	text-align: center;
	font-size: 40px; 
	border: none;
	outline: none;
	color: var(--text-primary);
	transition: 0.1s;
}
